a {
  color: #d0a97e;
}
a:hover {
  color: #0e9cd1;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #d0a97e;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #d0a97e;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #d0a97e;
}
#offcanvas-toggler >i {
  color: #fff;
}
#offcanvas-toggler >i:hover {
  color: #d0a97e;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #d0a97e;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #d0a97e;
}
.sp-page-title {
  background: #d0a97e;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #d0a97e;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #d0a97e;
}
.sp-module .tagscloud .tag-name:hover {
  background: #d0a97e;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #d0a97e;
}
.search .btn-toolbar button {
  background: #d0a97e;
}
.post-format {
  background: #d0a97e;
}
.voting-symbol span.star.active:before {
  color: #d0a97e;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #d0a97e;
}
blockquote {
  border-color: #d0a97e;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #d0a97e;
}
#sp-footer {
  background: #d0a97e;
}
.sp-comingsoon body {
  background-color: #d0a97e;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #d0a97e;
  background-color: #d0a97e;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #d0a97e;
  background-color: #d0a97e;
}
.projects-filter a.selected, .projects-filter a.selected:hover,
.lt-slider .button,
.lt-intro-item .button,
.lt-feature-item .button:hover,
.lt-about-tab .button,
.lt-categories .button,
.lt-team-item ul li,
.lt-client,
span.addtocart-button input.addtocart-button {
  background: #d0a97e;
}
.lt-intro-item:hover h4,
.lt-categories ul.vm-categories-wall li:hover .vm-categories-wall-catname,
.lt-team-item h4,
#sp-bottom a:hover,
#sp-bottom .sp-module-title {
  color: #d0a97e; 
}
.lt-slider .button,
.lt-feature-item .button:hover,
.lt-categories ul.vm-categories-wall li:hover img {
  border-color: #d0a97e;
}
/* Important */
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.projects-filter a:hover,
#sppb-addon-1492482380973 .sppb-nav-pills > li > a:hover,
#sppb-addon-1492482380973 .sppb-nav-pills > li.active > a, 
#sppb-addon-1492482380973 .sppb-nav-pills > li.active > a:hover, 
#sppb-addon-1492482380973 .sppb-nav-pills > li.active > a:focus {
  background: #d0a97e!important;  
}
.projects-wrapper .project-img:hover .project-img-extra {
    background: rgba(208, 169, 126, .7)!important;
}